.form-control{
	margin : 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea{
	display : block;
}
.form-control input,
.form-control textarea{
	border : 2px solid #ccc;
	font : inherit;
	border-radius : 5px;
	width : 100%;
}
.from-control input:focus,
.form-control textarea:focus{
	border-color : #4b1680;
}
button{
	font : inherit;
	border : 2px solid #4b1680;
	color : #4b1680;
	border-radius : 2px;
	cursor : pointer;
}
button:hover,
button:active{
	color : white;
	background : #4b1680;
}
.product-form{
	width : 20rem;
	max-width : 90%;
	margin : auto;
}
